.footer-div {
   border-top: 4px solid gray;
   margin: auto;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   text-align: center;
   background-color: var(--main-grey-color);
}

.footer {
   font-weight: 800;
   color: var(--main-purple-color)
}